{% extends "base.html" %}
{% load static %}

{% block sidenav %}
  {% if item_list %}
    {% for item in item_list %}
      <li><a href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}
  {% endif %}
{% endblock sidenav %}

{% block content %}
  <h1>My Books</h1>

  {% if books %}
    <table border="2" cellpadding="6">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Detail</th>
        <th>Delete</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          <a href="{% url 'book-detail' book.pk %}">View</a>
        </td>
        <td>
          <a href="{% url 'book-delete' book.pk %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No books yet.</p>
  {% endif %}
{% endblock content %}
